body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #dff6ff, #b8e8fc);
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 60%;
    max-width: 700px;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    text-align: center;
}

h1 {
    color: #0096c7;
}

h2 {
    color: #0077b6;
}

h3 {
    color: #023e8a;
}

.opcion {
    display: block;
    text-align: left;
    background-color: #caf0f8;
    margin: 12px 0;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.opcion:hover {
    background-color: #90e0ef;
}

button {
    background-color: #48cae4;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0096c7;
}

.resultado {
    font-size: 24px;
    color: #0077b6;
    font-weight: bold;
}
